<div class="container mt-3">

    <h1 class="text-center">Cart</h1>
    <div class="card-deck d-flex justify-content-center">

        <h3 class="mr-8">Total: {{total}} лв.</h3>
        <a class="btn btn-warning ml-4 mb-2 " (click)="makePayment()">Pay</a>
    </div>


    <div class="row ">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>

                    <th scope="col">Price</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody *ngFor="let painting of cart">
                <tr>
                    <td scope="row">{{painting._id}}</td>
                    <td>{{painting.name}}</td>
                    <td><img class="card-img-top" src="{{environment.assetsUrl}}/{{painting.image}}"
                            alt="Card image cap" style="max-width: 50px;"></td>
                    <td>{{painting.price}}</td>
                    <td><a class="btn-sm btn-danger" attr.data-id="{{painting._id}}"
                            (click)="removeFromCart($event)">Remove
                            from cart</a>
                    </td>
                </tr>


            </tbody>
        </table>




    </div>

</div>