<div class="container mt-3">

    <h1 class="text-center">Cart</h1>
    <div class="card-deck d-flex justify-content-center">

        <h3 class="mr-8">Total: 500 лв.</h3>
        <a routerLink="" class="btn btn-warning ml-4 mb-2 ">Pay</a>
    </div>


    <div class="row ">
        <div class="card-deck d-flex justify-content-center" style="margin: 0">
            <div class="card mb-4 col-md-2">
                <img class="card-img-top mt-2" src="../../assets/joda.JPG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">
                        JODAA
                    </p>
                    <p>250 лв.</p>
                </div>


                <a routerLink=""><button type="button" class="btn btn-primary mb-2">Remove from
                        Cart</button></a>


            </div>

            <div class="card mb-4 col-md-2">
                <img class="card-img-top" src="../../assets/ironMan.JPG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">
                        IRONMAN
                    </p>
                    <p>250 лв.</p>
                </div>

                <a routerLink=""><button type="button" class="btn btn-primary mb-2">Remove from
                        Cart</button></a>

            </div>
        </div>

    </div>

</div>