<ng-template #defaultMode>

    <div class="flex">
        <p>Username: </p>
        <p>{{user?.username}}</p>
    </div>
    <div class="flex">
        <p>Email: </p>
        <p>{{user?.email}}</p>
    </div>
    <div class="flex">
        <p>Phone: </p>
        <p>+359 {{user?.phone}}</p>
    </div>
    <button class="btn btn-success" (click)="toggleEdintMode()">Edit</button>

    <button type="button" class="btn btn-primary" routerLink="/admin/user/change-password/{{user?._id}}">Change
        Password</button>
    <button type="button" class="btn btn-danger" (click)="deleteHandler()">Delete</button>

</ng-template>


<ng-template #editMode>

    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <div class="flex">
            <p>Username: </p>
            <input #username="ngModel" type="text" name="username" id="username" [ngModel]="user?.username" required
                minlength="5">

        </div>
        <p class="error" *ngIf="username.touched && username.errors?.required">
            The field username is required!
        </p>
        <p class="error" *ngIf="username.touched && username.errors?.minlength ">
            Username should be at least 5 characters long.
        </p>
        <div class="flex">
            <p>Email: </p>
            <input #email="ngModel" type="email" name="email" id="email" [ngModel]="user?.email" required
                appEmailValidator>
        </div>
        <p class="error" *ngIf="email.touched && email.errors?.required">
            Email is required!
        </p>
        <p class="error" *ngIf="email.touched && email.errors?.emailValidator">
            Email is not valid!
        </p>
        <div class="flex">
            <p>Phone: </p>
            <div>
                <select name="select-phone" id="select-phone" class="Phone">
                    <option value="00359">+359</option>
                </select>
                <input type="text" name="phone" id="phone" [ngModel]="user?.phone">
            </div>
        </div>

        <button type="button" class="btn btn-primary" routerLink="/admin/userlist">Cancel</button>
        <button class="btn btn-success" routerLink="/admin/user/profile/{{user?._id}}">Save</button>
    </form>


</ng-template>

<div class="profile">
    <h3>User Info:</h3>
    <ng-container *ngTemplateOutlet="inEditMode ? editMode : defaultMode"></ng-container>
</div>