<ng-template #defaultMode>

    <div class="flex">
        <p>Username: </p>
        <p>{{currentUser?.username}}</p>
    </div>
    <div class="flex">
        <p>Email: </p>
        <p>{{currentUser?.email}}</p>
    </div>
    <div class="flex">
        <p>Phone: </p>
        <p>+359 {{currentUser?.phone}}</p>
    </div>
    <button class="edit-button" (click)="toggleEdintMode()">Edit</button>
    <button class="btn btn-primary" routerLink="/user/change-password">Change Password</button>

</ng-template>


<ng-template #editMode>

    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <div class="flex">
            <p>Username: </p>
            <input #username="ngModel" type="text" name="username" id="username" [ngModel]="currentUser?.username"
                required minlength="5">

        </div>
        <p class="error" *ngIf="username.touched && username.errors?.required">
            The field username is required!
        </p>
        <p class="error" *ngIf="username.touched && username.errors?.minlength ">
            Username should be at least 5 characters long.
        </p>
        <div class="flex">
            <p>Email: </p>
            <input #email="ngModel" type="email" name="email" id="email" [ngModel]="currentUser?.email" required
                appEmailValidator>
        </div>
        <p class="error" *ngIf="email.touched && email.errors?.required">
            Email is required!
        </p>
        <p class="error" *ngIf='email.touched && email.errors?.emailValidator'>
            Email is not valid!
        </p>
        <div class="flex">
            <p>Phone: </p>
            <div>
                <select name="select-phone" id="select-phone" class="Phone">
                    <option value="00359">+359</option>
                </select>
                <input type="text" name="phone" id="phone" [ngModel]="currentUser?.phone">
            </div>
        </div>

        <button type="button" class="red-button">Cancel</button>
        <button class="green-button">Save</button>
    </form>


</ng-template>

<div class="profile">
    <h3>User Info:</h3>

    <ng-container *ngTemplateOutlet="inEditMode ? editMode : defaultMode"></ng-container>
</div>