<div class="container">
    <h1 class="my-4">JODA
    </h1>

    <div class="row">

        <div class="col-md-5">
            <img class="img-fluid" src="../../assets/joda.JPG" alt="Card painting" />
        </div>

        <div class="col-md-7 text-center">
            <h4 class="my-3">Description</h4>
            <p>Place some description about the painting here!</p>
            <h3 class="my-3">Price:</h3>
            <p>200 лв.</p>

            <a class="btn btn-primary">Add to Cart</a>

        </div>
    </div>
</div>