<div class="container">
    <h1 class="my-4">{{painting?.name}}
    </h1>

    <div class="row">

        <div class="col-md-5">
            <img class="img-fluid" src="{{environment.assetsUrl}}/{{painting?.image}}" alt="Card painting" />
        </div>

        <div class="col-md-5 text-center" style="font-size:xx-large">
            <h4 class="my-5">Description</h4>
            <p style="font-size:x-large">{{painting?.description}}</p>
            <h3 class="my-5">Price:</h3>
            <p>{{painting?.price}}лв.</p>

            <a [class.disabled]=inCart class="btn btn-primary" [attr.disabled]="inCart ? 'disabled' : '' "
                (click)="addToCartHandler()">
                Add to Cart
            </a>

        </div>
    </div>
</div>