<div class="container mt-4">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col">Paintings</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody *ngFor="let payment of paymentList">
            <tr>
                <th scope="row">{{payment._id}}</th>
                <td>{{payment.userId?.username}}</td>
                <td>{{payment.created_at}}</td>
                <td>{{payment.status}}</td>
                <td>{{payment.total}}</td>
                <td>
                    <p *ngFor="let painting of payment.paintings">{{painting.name}},</p>
                </td>
                <td><a class="btn-sm btn-success">Edit</a><a class="btn-sm btn-warning">Delete</a></td>
            </tr>


        </tbody>
    </table>

</div>