<div class="container mt-4">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Created At</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Total</th>
                <th scope="col">Paintings</th>
                <th scope="col">Payments</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody *ngFor="let user of userList">

            <tr>
                <th scope="row">1</th>
                <td>{{user.username}}</td>
                <td>{{user.created_at}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <p *ngFor="let payment of user.payments">{{payment.total}}</p>
                </td>
                <td>
                    <p *ngFor="let painting of user.paintings">{{painting.name}}</p>
                </td>
                <td>
                    <p *ngFor="let payment of user.payments">{{payment.status}}</p>
                </td>
                <td><a class="btn-sm btn-success" routerLink="/admin/user/profile/{{user._id}}">Edit</a><a
                        class="btn-sm btn-warning">Delete</a></td>
            </tr>

        </tbody>
    </table>

</div>