<div class="container mt-4">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Created At</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Total</th>
                <th scope="col">Paintings</th>
                <th scope="col">Payments</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Stefan</td>
                <td>22.11.2020</td>
                <td>stafan@abv.bg</td>
                <td>0898743097</td>
                <td>200.55</td>
                <td>JODAA,IRON MAN</td>
                <td>Success,Success</td>
                <td><a class="btn-sm btn-success" routerLink="/user/profile">Edit</a><a
                        class="btn-sm btn-warning">Delete</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Yani</td>
                <td>25.11.2020</td>
                <td>yani@abv.bg</td>
                <td>8888888888</td>
                <td>100.99</td>
                <td>JODAA</td>
                <td>Success</td>

                <td><a class="btn-sm btn-success" routerLink="/user/profile">Edit</a><a
                        class="btn-sm btn-warning">Delete</a></td>
            </tr>

        </tbody>
    </table>

</div>