<div class="edit-painting-border">
    <div class="header-background">
        <span>Edit Painting</span>
    </div>
    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <div class="edit-painting-title">
            <label for="name">Name <span class="red">*</span></label>
            <input #name="ngModel" type="text" name="name" id="name" [ngModel]="painting?.name" required minlength="5">
            <!-- For Validations -->
            <p class="error" *ngIf="name.touched && name.errors?.required">
                Painting name is required.
            </p>
            <p class="error" *ngIf="name.touched && name.errors?.minlength">
                Painting name must be at least 5 characters long.
            </p>
        </div>
        <div class="edit-painting-content">
            <label for="description"> Description <span class="red">*</span></label>
            <textarea #description="ngModel" type="text" name="description" id="description" rows="8" class="height"
                [ngModel]="painting?.description" required minlength="10"></textarea>

            <!-- For Validations -->
            <p class="error" *ngIf="description.touched && description.errors?.required">
                Description is required
            </p>
            <p class="error" *ngIf="description.touched && description.errors?.minlength">
                Description field must be at least 10 characters long.
            </p>
            <label for="price">Price <span class="red">*</span></label>
            <input #price="ngModel" type="number" name="price" id="price" [ngModel]="painting?.price" required>

            <!-- For Validations -->
            <p class="error" *ngIf="price.touched && price.errors?.required">
                Price is required.
            </p>

            <label for="image">Image <span class="red">*</span></label>
            <!-- <div class="col-md-12"> -->
            <img class="card-img-top" src="{{environment.assetsUrl}}/{{painting?.image}}" alt="Card image cap"
                style="max-width: 100px;">
            <!-- </div> -->
            <input type="file" (change)="upload($event.target)" name="image" id="image" required>

        </div>

        <div class="edit-painting-buttons">
            <button type="button" class="btn btn-primary" routerLink='/admin/paintinglist'>Cancel</button>
            <button type="submit" class="btn btn-success">Save </button>
            <button class="btn btn-danger" (click)="deleteHandler()">Delete Painting</button>
        </div>

    </form>
</div>