<!-- <div class="edit-painting-border">
    <div class="header-background">
        <span>Edit Painting</span>
    </div>
    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <div class="edit-painting-title">
            <label for="name">Name <span class="red">*</span></label>
            <input #name="ngModel" type="text" name="name" id="name" [ngModel]="painting?.name" required minlength="5">
            
            <p class="error" *ngIf="name.touched && name.errors?.required">
                Painting name is required.
            </p>
            <p class="error" *ngIf="name.touched && name.errors?.minlength">
                Painting name must be at least 5 characters long.
            </p>
        </div>
        <div class="edit-painting-content">
            <label for="description"> Description <span class="red">*</span></label>
            <textarea #description="ngModel" type="text" name="description" id="description" rows="8" class="height"
                [ngModel]="painting?.description" required minlength="10"></textarea>

             
            <p class="error" *ngIf="description.touched && description.errors?.required">
                Description is required
            </p>
            <p class="error" *ngIf="description.touched && description.errors?.minlength">
                Description field must be at least 10 characters long.
            </p>
            <label for="price">Price <span class="red">*</span></label>
            <input #price="ngModel" type="number" name="price" id="price" [ngModel]="painting?.price" required>

             
            <p class="error" *ngIf="price.touched && price.errors?.required">
                Price is required.
            </p>

            <label for="image">Image <span class="red">*</span></label>
           
            <img class="card-img-top" src="{{environment.assetsUrl}}/{{painting?.image}}" alt="Card image cap"
                style="max-width: 100px;">
            
            <input type="file" (change)="upload($event.target)" name="image" id="image" required>

        </div>

        <div class="edit-painting-buttons">
            <button type="button" class="btn btn-primary" routerLink='/admin/paintinglist'>Cancel</button>
            <button type="submit" class="btn btn-success">Save </button>
            <button class="btn btn-danger" (click)="deleteHandler()">Delete Painting</button>
        </div>

    </form>
</div> -->


<!-- test -->
<div class="container mt-4">
    <div class="header-background">
        <h2>Edit Painting</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <div class="form-group">
            <label for="name"> <strong class="red">Name:</strong></label>
            <input #name="ngModel" class="form-control" type="text" name="name" id="name" [ngModel]="painting?.name"
                required minlength="5">
            <!-- For Validations -->
            <p class="error" *ngIf="name.touched && name.errors?.required">
                Painting name is required.
            </p>
            <p class="error" *ngIf="name.touched && name.errors?.minlength">
                Painting name must be at least 5 characters long.
            </p>
        </div>
        <div class="form-group">
            <label for="description"> <strong class="red">Description:</strong></label>
            <textarea #description="ngModel" class="form-control" type="text" name="description" id="description"
                [ngModel]="painting?.description" required minlength="10"></textarea>

            <!-- For Validations -->
            <p class="error" *ngIf="description.touched && description.errors?.required">
                The field with your post is required.
            </p>
            <p class="error" *ngIf="description.touched && description.errors?.minlength">
                Post must be at least 10 characters long.
            </p>
            <div class="form-group  ">
                <label for="price"><strong>Price: </strong></label>
                <input #price="ngModel" class="form-control" type="number" name="price" id="price"
                    [ngModel]="painting?.price" required>

                <!-- For Validations -->
                <p class="error" *ngIf="price.touched && price.errors?.required">
                    The field with your Price is required.
                </p>
            </div>
            <div class="form-group  ">
                <label for="image"> <strong>Image:</strong></label>
                <input #image="ngModel" class="form-control" type="file" (change)="upload($event.target)" name="image"
                    id="image" ngModel>
                <img class="card-img-top" src="{{environment.assetsUrl}}/{{painting?.image}}" alt="Card image cap"
                    style="max-width: 100px;">

            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-danger" routerLink="/">Cancel</button>
            <button class="btn btn-primary">Create</button>
        </div>

    </form>
</div>