<h1 class="text-center">Paintings</h1>



<section class="card-deck d-flex justify-content-center">
    <form class="search float-right mr-4" action="/search">
        <label class="mr-4">Search: </label>
        <input type="text" name="search" (keyup)="paintingSearch($event)">

    </form>
</section>
<div class="container mt-3">
    <div class="row ">

        <div class="card-deck d-flex justify-content-center" style="margin: 0">
            <div class="card mb-4" *ngFor="let painting of paintingList">
                <img class="card-img-top" src="{{environment.assetsUrl}}/{{painting.image}}" alt="Card image cap"
                    width="400">
                <div class="card-body">
                    <h4 class="card-title">
                        {{painting.name}}
                    </h4>
                </div>
                <div class="card-footer">
                    <a routerLink="/painting/detail/{{painting._id}}" class="btn btn-primary">Details</a>
                    <button *ngIf="painting.isSold" class="btn btn-danger disabled">SOLD</button>
                    <h5 class="text-center mt-3"> {{painting.created_at | timeDiff}}</h5>
                </div>
            </div>
        </div>

    </div>

</div>