<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a>John's profile</a>
                </li>
                <li>
                    <a>Logout</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
                <li>
                    <a>Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Themes</a>
            </li>
            <li>
                <a>New Theme</a>
            </li>
        </ul>
    </nav>
</header>