<form class="register">

    <fieldset>
        <h2>Sign Up</h2>

        <!-- username -->
        <p class="field field-icon">
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="Stefan">
        </p>
        <!-- For Validation -->
        <!-- <p class="error">
            Username is required!
        </p>
        <p class="error">
            Username must be at least 5 characters!
        </p> -->


        <!-- email -->
        <p class="field field-icon">
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="stefan.nikolov@gmail.com">
        </p>
        <!-- For Validation -->
        <!-- <p class="error">
            Email is required!
        </p>
        <p  class="error">
            Email is not valid!
        </p> -->

        <!-- phone -->
        <p class="field field-icon">
            <label for="phone"> </label>
            <select name="select-phone" id="select-phone" class="phone">
                <option value="00359">+359</option>
            </select>
            <input type="text" name="phone" id="phone" placeholder="885 888 888">
        </p>

        <!-- password -->
        <p class="field field-icon">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="******">
        </p>
        <!-- For Validation -->

        <!-- <p class="error">
            Password is required!
        </p>
        <p class="error">
            Password must be at least 5 characters!
        </p> -->

        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"> </label>
            <input type="password" name="rePassword" id="rePassword" placeholder="******">
        </p>
        <!-- For Validation -->
        <!-- <p class="error">
            Repeat Password is required!</p>
        <p class="error">
            Repeat Password does not match password!</p> -->

        <button type="button">Create Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/user/login">Log In</a>
        </p>

    </fieldset>
</form>