<div class="mx-auto mt-5 bg-light" style="width: 600px;">
    <form #f="ngForm" class="p-5" (ngSubmit)="changePassword(f.value)">
        <div class="form-group">
            <label for="password">New Password</label>
            <input #password="ngModel" name="password" type="password" class="form-control" aria-describedby="emailHelp"
                ngModel required minlength="5">
            <p class="form-text text-danger " *ngIf="password.touched && password.errors?.required">
                New Password is required!
            </p>
            <p class="form-text text-danger " *ngIf="password.touched && password.errors?.minlength">
                The new password should be at least 5 characters long.
            </p>

        </div>
        <div class="form-group">
            <label for="password">Confirm New Password</label>
            <input #confirmPassword="ngModel" type="password" name="confirm_password" class="form-control"
                aria-describedby="emailHelp" ngModel required>
            <p class="form-text text-danger "
                *ngIf="confirmPassword.touched && confirmPassword.value!== password.value">Confirm Password does not
                match password!</p>
        </div>
        <button type="button" class="btn btn-danger" routerLink="/">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>