<div class="container mt-4">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">isSold</th>
                <th scope="col">Buyer</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody *ngFor="let painting of paintingList">
            <tr>
                <th scope="row">1</th>
                <td>{{painting.name}}</td>
                <td>{{painting.created_at}}</td>
                <td>{{painting.description}}</td>

                <td>{{painting.price}}</td>
                <td>{{painting.isSold ? 'Yes' : 'No' }}</td>
                <td>
                    {{painting.buyer?.username}}
                </td>
                <td><a class="btn-sm btn-success" routerLink="/painting/list/{{painting._id}}">Edit</a><a
                        class="btn-sm btn-warning">Delete</a></td>
            </tr>


        </tbody>
    </table>

</div>