.card {
    min-width: 18rem;
    max-width: 18rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

 

.badge {
    margin-left: 10px;
}
.container .row {
    display: inline-block;
    margin: 10px;
}

footer  {
    color: blue!important;
}
