<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1> Check out our new gallery</h1>
    </div>
</div>

<div>
    <h1 class="text-center">New Paintings</h1>
    <div class="container mt-3">
        <div class="row">

            <div class="card-deck" style="margin: 0">
                <div class="card mb-4">
                    <img class="card-img-top" src="../../assets/caterpillar.JPG" alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">Caterpillar</h4>
                        <small class="float-right">Enrolled: 5</small>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="card-deck" style="margin: 0">
                <div class="card mb-4">
                    <img class="card-img-top" src="../../assets/ironMan.JPG" alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">IRON MAN</h4>
                        <small class="float-right">Enrolled: 5</small>
                    </div>
                </div>



            </div>

        </div>
    </div>


</div>






<h4 class="text-center">No paintings...</h4>