<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1> Check out our latest paintings</h1>
    </div>
</div>

<div>
    <h1 class="text-center">New Paintings</h1>
    <div class="container mt-3">
        <div class="row">

            <div class="card-deck d-flex justify-content-center" style="margin: 0">
                <div class="card mb-4 " *ngFor="let painting of paintingList.slice(0,3)">
                    <img class="card-img-top" src="{{environment.assetsUrl}}/{{painting.image}}" alt="Card image cap"
                        width="400">
                    <div class="card-body">
                        <h4 class="card-title">{{painting.name}}</h4>
                        <small class="float-right">{{painting.created_at}}</small>
                    </div>
                </div>
            </div>


        </div>

    </div>


</div>






<h4 class="text-center" *ngIf="!paintingList">No paintings...</h4>