<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center"> Welcome to My Gallery !
            Here you’ll find a detailed presentation of my paintings.
            And the chance of buying them.</h1>
    </div>
</div>

<div>
    <h1 class="text-center"> <a routerLink="/painting/list">Paintings</a></h1>

    <div class="container mt-3">
        <div class="row">

            <div class="card-deck d-flex justify-content-center" style="margin: 0">
                <div class="card mb-4 " *ngFor="let painting of paintingList.slice(0,3)">
                    <img class="card-img-top" src="{{environment.assetsUrl}}/{{painting.image}}" alt="Card image cap"
                        width="400">
                    <div class="card-body">
                        <h4 class="card-title">{{painting.name}}</h4>
                        <h5 class="float-right">{{painting.created_at | timeDiff}}</h5>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <h4 class="text-center"> <a href="https://www.instagram.com/yani_dimitrov/"> Follow me on instagram</a></h4>

</div>






<h4 class="text-center" *ngIf="!paintingList">No paintings...</h4>